<div class="ms-5 me-5">
  <div class="row text-center header">
    <div class="col imgContainer">
      <img src="/assets/imgs/Waggeh_Logo.png" class="float-start" alt="..." />
    </div>
    <div class="col-md-3"></div>

    <div class="col d-flex justify-content-end">
      <h5 class="mt-3">Become a consultant</h5>
    </div>
    <div class="d-flex align-items-start justify-content-end col-md-2">
      <button type="button" class="btn login">Log in</button>
    </div>
    <div class="d-flex align-items-start justify-content-start col-md-2">
      <button type="button" class="btn signUp">Sign up</button>
    </div>
  </div>
  <div class="row search">
    <div class="col-md-10">
      <div class="">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name, category, company"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <img src="/assets/imgs/search.png">
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn filter">Filter</button>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
    <div class="Group33" style="width: 1181px; height: 1564px; left: 130px; top: 388px; position: absolute">
      <div class="Group20" style="width: 277px; height: 476px; left: 0px; top: 544px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Shawky Mortada</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Shawky Mortada is a highly skilled and experienced business consultant with a passion for ...</div>
        <div class="Group3" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute">
          <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
          <div class="Frame2" style="width: 120px; height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 10px; top: 282px; position: absolute; background: #E8E8EB; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div class="Group103" style="width: 32px; height: 32px; position: relative">
              <div class="Rectangle55" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #ECE71C; border-top-left-radius: 4px; border-top-right-radius: 4px"></div>
              <div class="VuesaxLinearCrown" style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; border-top-left-radius: 4px; border-top-right-radius: 4px">
                <div class="Crown" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                  <div class="Vector" style="width: 13.39px; height: 11.33px; left: 1.28px; top: 1.32px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 7.33px; height: 0px; left: 4.33px; top: 14.67px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 3.33px; height: 0px; left: 6.33px; top: 9.33px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
              </div>
            </div>
            <div class="TopExpert" style="text-align: center; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">Top Expert</div>
          </div>
        </div>
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">200 EGP/Session</div>
        </div>
      </div>
      <div class="Group26" style="width: 277px; height: 476px; left: 904px; top: 1088px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Shawky Mortada</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Shawky Mortada is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">200 EGP/Session</div>
        </div>
      </div>
      <div class="Group19" style="width: 277px; height: 476px; left: 903px; top: 0px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Mansour Abbas</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Mansour Abbas is a highly skilled and experienced business consultant with a passion for ...</div>
        <div class="Group3" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute">
          <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
          <div class="Frame2" style="width: 120px; height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 10px; top: 282px; position: absolute; background: #E8E8EB; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div class="Group103" style="width: 32px; height: 32px; position: relative">
              <div class="Rectangle55" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #ECE71C; border-top-left-radius: 4px; border-top-right-radius: 4px"></div>
              <div class="VuesaxLinearCrown" style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; border-top-left-radius: 4px; border-top-right-radius: 4px">
                <div class="Crown" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                  <div class="Vector" style="width: 13.39px; height: 11.33px; left: 1.28px; top: 1.32px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 7.33px; height: 0px; left: 4.33px; top: 14.67px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 3.33px; height: 0px; left: 6.33px; top: 9.33px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
              </div>
            </div>
            <div class="TopExpert" style="text-align: center; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">Top Expert</div>
          </div>
        </div>
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">320 EGP/Session</div>
        </div>
      </div>
      <div class="Group22" style="width: 277px; height: 476px; left: 602px; top: 544px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Mansour Abbas</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Mansour Abbas is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">320 EGP/Session</div>
        </div>
      </div>
      <div class="Group25" style="width: 277px; height: 476px; left: 302px; top: 1088px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Mansour Abbas</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Mansour Abbas is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">320 EGP/Session</div>
        </div>
      </div>
      <div class="Group18" style="width: 277px; height: 476px; left: 301px; top: 0px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Youssef karam</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Youssef Karam is a highly skilled and experienced business consultant with a passion for ...</div>
        <div class="Group3" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute">
          <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
          <div class="Frame2" style="width: 120px; height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 10px; top: 282px; position: absolute; background: #E8E8EB; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div class="Group103" style="width: 32px; height: 32px; position: relative">
              <div class="Rectangle55" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #ECE71C; border-top-left-radius: 4px; border-top-right-radius: 4px"></div>
              <div class="VuesaxLinearCrown" style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; border-top-left-radius: 4px; border-top-right-radius: 4px">
                <div class="Crown" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                  <div class="Vector" style="width: 13.39px; height: 11.33px; left: 1.28px; top: 1.32px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 7.33px; height: 0px; left: 4.33px; top: 14.67px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 3.33px; height: 0px; left: 6.33px; top: 9.33px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
              </div>
            </div>
            <div class="TopExpert" style="text-align: center; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">Top Expert</div>
          </div>
        </div>
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">170 EGP/Session</div>
        </div>
      </div>
      <div class="Group24" style="width: 277px; height: 476px; left: 1px; top: 1088px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Youssef karam</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Youssef Karam is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">170 EGP/Session</div>
        </div>
      </div>
      <div class="Group17" style="width: 277px; height: 476px; left: 602px; top: 0px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Salwa Abdullah</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Salwa Abdullah is a highly skilled and experienced business consultant with a passion for ...</div>
        <div class="Group3" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute">
          <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
          <div class="Frame2" style="width: 120px; height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 10px; top: 282px; position: absolute; background: #E8E8EB; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div class="Group103" style="width: 32px; height: 32px; position: relative">
              <div class="Rectangle55" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #ECE71C; border-top-left-radius: 4px; border-top-right-radius: 4px"></div>
              <div class="VuesaxLinearCrown" style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; border-top-left-radius: 4px; border-top-right-radius: 4px">
                <div class="Crown" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                  <div class="Vector" style="width: 13.39px; height: 11.33px; left: 1.28px; top: 1.32px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 7.33px; height: 0px; left: 4.33px; top: 14.67px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 3.33px; height: 0px; left: 6.33px; top: 9.33px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
              </div>
            </div>
            <div class="TopExpert" style="text-align: center; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">Top Expert</div>
          </div>
        </div>
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">240 EGP/Session</div>
        </div>
      </div>
      <div class="Group23" style="width: 277px; height: 476px; left: 301px; top: 544px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Salwa Abdullah</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Salwa Abdullah is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">240 EGP/Session</div>
        </div>
      </div>
      <div class="Group12" style="width: 277px; height: 476px; left: 0px; top: 0px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Menna Ahmed</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Menna Ahmed is a highly skilled and experienced business consultant with a passion for ...</div>
        <div class="Group3" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute">
          <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 8px" src="https://via.placeholder.com/277x324" />
          <div class="Frame2" style="width: 120px; height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 10px; top: 282px; position: absolute; background: #E8E8EB; border-radius: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div class="Group103" style="width: 32px; height: 32px; position: relative">
              <div class="Rectangle55" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #ECE71C; border-top-left-radius: 4px; border-top-right-radius: 4px"></div>
              <div class="VuesaxLinearCrown" style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; border-top-left-radius: 4px; border-top-right-radius: 4px">
                <div class="Crown" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
                  <div class="Vector" style="width: 13.39px; height: 11.33px; left: 1.28px; top: 1.32px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 7.33px; height: 0px; left: 4.33px; top: 14.67px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 3.33px; height: 0px; left: 6.33px; top: 9.33px; position: absolute; border: 0.60px #17153A solid"></div>
                  <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
              </div>
            </div>
            <div class="TopExpert" style="text-align: center; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">Top Expert</div>
          </div>
        </div>
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">160 EGP/Session</div>
        </div>
      </div>
      <div class="Group21" style="width: 277px; height: 476px; left: 903px; top: 544px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Menna Ahmed</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Menna Ahmed is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">160 EGP/Session</div>
        </div>
      </div>
      <div class="Group27" style="width: 277px; height: 476px; left: 603px; top: 1088px; position: absolute">
        <div class="MennaAhmed" style="left: 0px; top: 348px; position: absolute; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 24px; word-wrap: break-word">Menna Ahmed</div>
        <div class="BusinessConsultant" style="left: 0px; top: 332px; position: absolute; color: #747389; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Business Consultant</div>
        <div class="MennaAhmedIsAHighlySkilledAndExperiencedBusinessConsultantWithAPassionFor" style="width: 277px; left: 0px; top: 404px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Menna Ahmed is a highly skilled and experienced business consultant with a passion for ...</div>
        <img class="Rectangle2" style="width: 277px; height: 324px; left: 0px; top: -4px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 8px" src="https://via.placeholder.com/277x324" />
        <div class="Frame17" style="width: 116px; height: 16px; left: 0px; top: 380px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div class="DollarCircle" style="width: 16px; height: 16px; position: relative">
            <div class="Vector" style="width: 13.33px; height: 13.33px; left: 1.33px; top: 1.33px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #ECE71C"></div>
            <div class="Vector" style="width: 4.45px; height: 6.21px; left: 5.78px; top: 4.89px; position: absolute; background: white; border: 0.60px #ECE71C solid"></div>
            <div class="Vector" style="width: 0px; height: 8px; left: 8px; top: 4px; position: absolute; background: #ECE71C; border: 0.60px #ECE71C solid"></div>
          </div>
          <div class="EgpSession" style="color: #454461; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">160 EGP/Session</div>
        </div>
      </div>
    </div>
    <div class="Rectangle13" style="width: 1440px; height: 216px; left: 0px; top: 2088px; position: absolute; background: #17153A"></div>
    <div class="UnlockYourBusinessSPotentialWithOurExpertConsultancyServices" style="width: 703px; left: 531px; top: 2162px; position: absolute; color: white; font-size: 26px; font-family: Poppins; font-weight: 600; line-height: 34px; word-wrap: break-word">Unlock your business's potential with our expert consultancy services</div>
    <img class="Rectangle14" style="width: 214px; height: 68px; left: 130px; top: 2162px; position: absolute" src="https://via.placeholder.com/214x68" />
    <div class="Group44" style="width: 1440px; height: 328px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle20" style="width: 1440px; height: 328px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <img class="Rectangle9" style="width: 201px; height: 64px; left: 130px; top: 40px; position: absolute" src="https://via.placeholder.com/201x64" />
      <div class="Frame11" style="width: 176px; height: 64px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 1134px; top: 40px; position: absolute; background: #17153A; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="SignUp" style="text-align: center; color: white; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Sign Up</div>
      </div>
      <div class="Frame28" style="width: 208px; height: 64px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 724px; top: 40px; position: absolute; border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="SignUp" style="text-align: center; color: #454461; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Become a Consultant</div>
      </div>
      <div class="Frame27" style="width: 154px; height: 64px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 956px; top: 40px; position: absolute; background: white; border-radius: 8px; border-left: 0.25px #454461 solid; border-top: 0.25px #454461 solid; border-right: 0.25px #454461 solid; border-bottom: 0.25px #454461 solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="SignUp" style="text-align: center; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Log In</div>
      </div>
      <div class="Group36" style="width: 177px; height: 60px; left: 331px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 52px; top: 18px; position: absolute; text-align: center; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Business</div>
      </div>
      <div class="Group41" style="width: 177px; height: 60px; left: 130px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 31px; top: 18px; position: absolute; text-align: center; color: #17153A; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">All Categories</div>
        <div class="Rectangle17" style="width: 177px; height: 4px; left: 0px; top: 64px; position: absolute; background: #17153A; border-radius: 100px"></div>
      </div>
      <div class="Group38" style="width: 177px; height: 60px; left: 732px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 47px; top: 18px; position: absolute; text-align: center; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Marketing</div>
      </div>
      <div class="Group37" style="width: 177px; height: 60px; left: 531px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 58px; top: 18px; position: absolute; text-align: center; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Startup</div>
      </div>
      <div class="Group39" style="width: 177px; height: 60px; left: 932px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 53px; top: 18px; position: absolute; text-align: center; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Strategy</div>
      </div>
      <div class="Group40" style="width: 177px; height: 60px; left: 1133px; top: 264px; position: absolute">
        <div class="Rectangle16" style="width: 177px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div class="AllCategories" style="left: 66px; top: 18px; position: absolute; text-align: center; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Legal</div>
      </div>
      <div class="Group42" style="width: 979px; height: 64px; left: 130px; top: 160px; position: absolute">
        <div class="Rectangle18" style="width: 979px; height: 64px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 8px; border-left: 0.50px #E8E8EB solid; border-top: 0.50px #E8E8EB solid; border-right: 0.50px #E8E8EB solid; border-bottom: 0.50px #E8E8EB solid"></div>
        <div class="SearchByNameCategoryCompany" style="left: 100px; top: 20px; position: absolute; color: #A2A1B0; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 28px; word-wrap: break-word">Search by name, category, company</div>
        <div class="VuesaxLinearSearchNormal" style="width: 24px; height: 24px; left: 52px; top: 20px; position: absolute; border-radius: 8px">
          <div class="SearchNormal" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 19px; height: 19px; left: 2px; top: 2px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 2px; height: 2px; left: 20px; top: 20px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
          </div>
        </div>
      </div>
      <div class="Group43" style="width: 177px; height: 64px; left: 1133px; top: 160px; position: absolute">
        <div class="Rectangle19" style="width: 177px; height: 64px; left: 177px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #E8E8EB; border-radius: 8px"></div>
        <div class="Filter" style="left: 81px; top: 14px; position: absolute; color: #17153A; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Filter</div>
        <div class="VuesaxLinearSetting5" style="width: 24px; height: 24px; left: 38px; top: 20px; position: absolute">
          <div class="Setting5" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
            <div class="Vector" style="width: 0px; height: 11px; left: 19px; top: 11px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 0px; height: 5px; left: 19px; top: 2px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 0px; height: 5px; left: 12px; top: 17px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 0px; height: 11px; left: 12px; top: 2px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 0px; height: 11px; left: 5px; top: 11px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 0px; height: 5px; left: 5px; top: 2px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 4px; height: 0px; left: 3px; top: 11px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 4px; height: 0px; left: 17px; top: 11px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 4px; height: 0px; left: 10px; top: 13px; position: absolute; border: 0.75px #17153A solid"></div>
            <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
